/*@import 'reset.css';*/
@import 'normalize.css';

* {
      box-sizing: border-box;
}
html {
  /*border: 3px solid black;*/
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0 0;
  /*border: 3px solid red;*/
}
#outer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*outline: 2px dotted green;*/
    width: 100vw;
    margin: 0;
    padding: 0;
}
#inner-container {
    display: flex;
    flex-direction: row;
    /*outline: 2px dotted blue;*/
}
#nav {
    flex-basis: 100vw;
    flex: 0;
    background: #000;
    color: #fff;
    /*outline: 1px dotted red;*/
    height: 2rem;
}
#left-sidebar {
    flex: 1 0;
    padding: 0 1em;
    background: #eee;

}
#right-sidebar {
    flex: 1 0;
    padding: 0 1em;
    background: #eee;
}
#main {
    flex: 1 1;
    padding: 0 1em;
}
#footer {
    flex-basis: 100vw;
    flex: 0;
    text-align: center;
    background: #000;
    color: #eee;
}


@media (max-width: 800px){
  .container {

   }
  #left-sidebar {
  }
  #main {
    min-width: inherit;
  }
  #right-sidebar {
    display: none;
  }
}
@media (max-width: 600px){
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.4rem;
    }
  .container {
  }
}

