/*@import 'reset.css';*/
@import 'normalize.css';

* {
      box-sizing: border-box;
}
html {
  border: 3px solid black;
}
body {
  font-family: "Open Sans", sans-serif;
}
#outer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#inner-container {
    display: flex;
    flex-direction: row;
}
#nav {
    flex-basis: 100vw;
    flex: 1 1;
    background: #000;
    color: #fff;
    height: 2rem;
    padding: 0 2rem;
}
#left-sidebar {
    flex: 1 1;
    padding: 0 1em;
    background: #eee;

}
#right-sidebar {
    flex: 1 1;
    padding: 0 1em;
    background: #eee;
}
#main {
    flex: 1 1;
    padding: 0 1em;
}
#footer {
    flex-basis: 100vw;
    flex: 0;
    text-align: center;
    background: #000;
    color: #eee;
}


@media (max-width: 800px){
  #outer-container {
   }
  #left-sidebar {
  }
  #main {
  }
  #right-sidebar {
    display: none;
  }
  h1, h2 {
      text-align: center;
  }
}
@media (max-width: 600px){

  #inner-container {
      flex-direction: column;
  }
  #main {
      order: 1;
  }
  #left-sidebar{
      order: 2;
  }
}

